/* Color palette */
:root {
  --lightCyan: #66d2cf;
  --darkCyan: #0e8784;
  --darkGreyBlue: #333d4b;
  --darkerGreyBlue: #2c343e;
  --paleOrange: #fdd6ba;
  --lightCream: #fefcf7;
  --grey: #83888f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --webkit-font-smoothing: antialiased;
}

/* Label & Body styles */
.title-big {
  font-family: "Fraunces";
  font-weight: 900;
  font-style: normal;
  font-size: 150px;
  line-height: 72px;
  color: var(--grey);
}

h1 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: var(--darkGreyBlue);
}

h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: var(--darkGreyBlue);
}

h3 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: var(--darkGreyBlue);
}

h4 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--darkGreyBlue);
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
}

/* Button styles */
.button-main {
  font-family: "Fraunces";
  font-size: 18px;
  width: 217px;
  height: 56px;
  border-radius: 6px;
  background-color: var(--darkCyan);
  color: var(--lightCream);
  border: none;
}

.button-main:hover {
  transition: 0.3s ease;
  background-color: var(--lightCyan);
}

.button-disabled {
  font-family: "Fraunces";
  font-size: 18px;
  width: 217px;
  height: 56px;
  border-radius: 6px;
  background-color: var(--grey);
  border: none;
}

.big-selection {
  height: 250px;
  width: 228px;
  background-color: var(--lightCream);
}

.big-selection:hover {
  transition: 0.3s ease;
  background-color: var(--paleOrange);
}

.big-selection:active {
  transition: 0.3s ease;
  background-color: var(--darkCyan);
}

/* Accordion Menu styles */
.accordion {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: var(--grey);
}

/* ///////// */

.App {
  text-align: center;
}

/* Responsive styling */
/* @media (min-width: 320px) and (max-width: 767px) {
  h1 {
    border: 2px solid red;
  }
} */
